@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
	/* Primary */
	--outer-space: #1a2e32;
	--hunter-green: #29512f;
	--cinnabar: #e74d3c;
	/* Neutral */
	--silver-metallic: #b2b5bd;
	--pale-silver: #c9c5ba;
	--morning-blue: #96b0a5;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	color: var(--silver-metallic);
}

.nav-link {
	color: var(--silver-metallic);
	font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--cinnabar);
}

.header-background {
	position: static;
	display: block;
	overflow: visible;
	top: 0;
	height: auto;
	min-height: 750px;
	padding-bottom: 70px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(27, 47, 51, 0.9))
	);
	background-image: linear-gradient(
			180deg,
			rgba(27, 47, 51, 0.55),
			rgba(27, 47, 51, 0.74)
		),
		url("images/header-background.jpg");
	flex-direction: columnn;
	background-position: 0 0, 100% 50%;
	background-size: auto, cover;
	white-space: normal;
	object-fit: fill;
	-o-object-fit: fill;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: columnn;
	-ms-flex-direction: column;
}

.sticky-nav {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding: 20px;
	z-index: 1;
	align-self: auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	-ms-grid-row-align: auto;
	-webkit-box-ordinal-group: 1;
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	background-color: rgba(40, 80, 46, 0.5);
}

.navbar .navbar-brand a {
	padding: 1rem 0;
	display: block;
	text-decoration: none;
}

.navbar-brand {
	font-size: 2.2rem;
	font-weight: 600;
	color: #fff;
}

.navbar-brand:hover {
	cursor: default;
	color: var(--cinnabar);
}

.navbar-toggler {
	border: none;
	padding: 10px 6px;
	outline: none;
}

.navbar-toggler span {
	display: block;
	width: 22px;
	height: 2px;
	border: 1px;
	background: #fff;
}

.navbar-toggler span + span {
	margin-top: 4px;
	width: 22px;
}

.navbar-toggler span + span + span {
	width: 22px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0.8rem 1rem 1rem 0;
	font-size: 1.2rem;
	position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
	color: var(--cinnabar);
}

.btn {
	background-color: var(--cinnabar);
	color: #fff;
	border: none;
	border-radius: .25rem;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
}

.btn:hover {
	background-color: var(--outer-space);
	color: #fff;
}

.heading {
	font-size: 5rem;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.4;
	text-align: center;
	color: #fff;
	margin-top: 180px;
	margin-bottom: 20px;
	min-height: 100px;
}

.sub-heading {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.4;
	text-align: center;
	color: var(--silver-metallic);
	padding: 0 5rem;
}
.column-left {
	min-height: 750px;
	background-image: url("images/about-section.jpg");
	background-position: 50% 50%;
	background-size: auto, cover;
	background-repeat: no-repeat;
	background-attachment: scroll, scroll;
	object-fit: cover;
	-o-object-fit: cover;
}

.column-right .section-title {
	margin-top: 80px;
	padding: 5rem 2rem 0 5rem;
	font-size: 2.8rem;
	color: var(--silver-metallic);
	font-weight: 500;
}
.paragraph {
	margin-top: 15px;
	padding: 1rem 5rem 1rem 5rem;
	font-size: 1rem;
	color: var(--silver-metallic);
	line-height: 1.4;
	text-align: justify;
}

.services-right {
	min-height: 750px;
	background-image: url("images/services-section.jpg");
	background-position: 50% 50%;
	background-size: auto, cover;
	background-repeat: no-repeat;
	background-attachment: scroll, scroll;
	object-fit: cover;
	-o-object-fit: cover;
}

.service-title {
	margin-top: 20px;
	padding: 5rem 2rem 0 5rem;
	font-size: 2.8rem;
	font-weight: 500;
}

.service-title-1,
.service-title-2 {
	padding: 1rem 2rem 1rem 5rem;
	font-size: 1.8rem;
}

.service-paragraph-1,
.service-paragraph-2 {
	margin-top: 15px;
	padding: 0 5rem 1rem 5rem;
	font-size: 1rem;
	line-height: 1.4;
	text-align: justify;
}

.fas {
	font-size: 4rem;
	color: var(--cinnabar);
}

.fa-mountain,
.fa-hiking {
	padding: 3rem 2rem 1rem 5rem;
}

.newsletter-wrapper {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(27, 47, 51, 0.9))
	);
	background-image: linear-gradient(
			180deg,
			rgba(27, 47, 51, 0.55),
			rgba(27, 47, 51, 0.74)
		),
		url("images/newsletter-background.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: auto;
	height: 300px;
	padding: 55px;
}

.form-control {
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

.fab {
	font-size: 2rem;
	color: var(--morning-blue);
}

.fab:hover {
	cursor: pointer;
	color: #fff;
}
